<div ref="sideContainer" class="side-container">
    <div class = "nav-head active">
    {{ if eq .Title .Site.Title}}
    <a class="a-block active" href="{{.Site.BaseURL}}">
    {{ else }}
    <a class="a-block false" href="{{.Site.BaseURL}}">
    {{ end }}
        <div class="nav-title">
                <!-- <img class="nav-image" src="/images/ekta-max.jpg" alt="Italian Trulli"> -->
            {{.Site.Title}}
        </div>
        <div class="nav-subtitle">
            <a href="https://github.com/ektagarg"><i class="fa fa-github social-media"></i></a>
            <a href="https://twitter.com/_ektagarg"><i class="fa fa-twitter social-media" ></i></a>
            <a href="https://www.linkedin.com/in/ekta-garg-bb9a48a3/"><i class="fa fa-linkedin social-media"></i></a>
        </div>
    </a>
    </div>
    <div class="nav-link-list">
        {{ $current := .Permalink | absLangURL }}
        {{ range .Site.Menus.main }}
            {{$actived := "false"}}
            <!-- A problem caused by slash: if you use "eq" directly, you will get a result of "/tags/" and "/tags" -->
            {{if hasPrefix  $current (.URL|absLangURL)}}
                {{$actived = "active"}}
            {{end}}
            {{ if .HasChildren }}
            <parent name="{{ .Name }}" type="nav-link-item {{$actived}}">
                {{ range .Children }}
                    <li><a href="{{ .URL }}"> {{ .Name }}</a></li>
                {{ end }}
            </parent>
            {{ else }}
            <!--<a class="a-block nav-link-item {{$actived}}" href="{{ .URL }}">-->
            <a class="a-block nav-link-item {{ $actived }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
            {{ end }}
        {{ end }}
    </div>

    

    <div class="nav-footer">
        {{partial "copyright.html" .}}
    </div>
    
</div>